/* Header */

header .logo_texte_banniere {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px -72px 0px;
    position: relative;
}

header .texte_banniere {
    display: flex;
    margin: 0 0 0 20px;
    position: relative;
    left: 50px;
}

header .texte_banniere a{
    position: relative;
    right: 220px;
    margin: 0 18px 0px 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    top: 23px;
}

header .texte_banniere p{
    position: relative;
    right: 228px;
    bottom: 0px;
    font-size: larger;
}

header .logo_texte_banniere .logo_AEF img{
    width: 100%;
    height: 90px;
}

header .information{
    width: 20%;
    position: relative;
    left: 129px;
}

header .information img{
    height: 30px;
}

header .img_banniere {
    display: flex;
    justify-content: center;
}

header .img_banniere img {
    width: 100%;
    height: 515px;
    margin: -20px 0 0 0px;
}

/* Main */

.miniatures {
    position: relative;
    right: 85px;
    top: 95px;
}

main .miniatures .ligne_1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 30px 0;
}

main .miniatures .ligne_2{
    display: flex;
    justify-content: space-evenly;
    margin: -20px 0 40px 0;
}

main .miniatures img {
    height: 200px;
}

main .miniatures .Activitées{
    margin: 0 -345px 0 0;
}

main .miniatures .Media{
    margin: 0 -345px 0 0;
}

main .biographie {
    /* float: right; */

}

main .biographie img{
    width: 25%;
    float: right;
    position: relative;
    bottom: 387px;
    right: 59px;

}

main .Une{
    display: grid;
}

main .Une img{
    width: 17%;
    float: left;
    position: relative;
    bottom: 457px;
    left: 63px;
    margin: 0 0 15px 0;
    height: 345px;
}

footer img {
    width: 91%;
    height: 280px;
    position: relative;
    left: 66px;
    bottom: 462px;
}

/* Responsive */
@media screen and (max-width: 870px) {
 
/* Redimmensionner les images des evenements */
    
    main .miniatures .Activitées{
        /* margin: 0 -345px 0 0; */
        display: flex;
    }

    main .miniatures .Media{
        /* margin: 0 -345px 0 0; */
        display: flex;

    }

}