
header .texte_banniere {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px -50px 0px;
}

header .texte_banniere p {
    margin: 50px 0px 0px -95px;
}

header .texte_banniere img {
    width: 10%;
    height: 80px;

}

header .img_banniere img {
    width: 80%;
    height: 300px;
    margin: 60px 0 0 150px;
    border-radius: 25px;
}

main .miniatures {
    /* display: contents; */
}

main .miniatures .ligne_1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 10px 0;
}

main .miniatures .ligne_2{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

main .miniatures img {
    width: 14%;
    height: 90px;
}

footer {
    background-color: orange;
}

footer .information {
    display: flex;
    justify-content: space-evenly;
}

/* Responsive */
@media screen and (max-width: 870px) {


    
}