/* Header */

header .logo_texte_banniere {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px -72px 0px;
    position: relative;
}

header .texte_banniere {
    display: flex;
    margin: 0 0 0 20px;
    position: relative;
    left: 50px;
}

header .texte_banniere a{
    position: relative;
    right: 220px;
    margin: 0 18px 0px 0;
    color: black;
    text-decoration: none;
    font-weight: bold;
    top: 23px;
}

header .texte_banniere p{
    position: relative;
    right: 228px;
    bottom: 0px;
    font-size: larger;
}

header .logo_texte_banniere .logo_AEF img{
    width: 100%;
    height: 90px;
}

header .information{
    width: 20%;
    position: relative;
    left: 129px;
}

header .information img{
    height: 30px;
}

header .img_banniere {
    display: flex;
    justify-content: center;
}

header .img_banniere img {
    width: 100%;
    height: 515px;
    margin: -20px 0 0 0px;
}

footer img {
    width: 91%;
    height: 280px;
    position: relative;
    left: 66px;
    bottom: 410px;
}

/* Main */

main .evenement_img_text{
    position: relative;
    margin: 0px 48px 0 60px;
    top: 10px;
}

main .evenement_img .PX_img img{
    width: 40%;
    position: relative;
    top: 33px;
}

main .evenement_img .PX_text img{
    width: 63%;
    float: right;
    position: relative;
    bottom: 750px;
    margin: 0px -41px 0 0px;
}

/* Responsive */
@media screen and (max-width: 870px) {
    
}
